.sidebar {
  padding: 5px 5px 20px;
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.collapsed {
  width: var(--sidebar-closed-width);
}

.switchers {
  width: calc(100% - 10px);
  justify-content: space-between;
  display: flex;
  gap: 8px;
  align-items: center;
}

.sidebar.collapsed {
  .switchers {
    flex-direction: column;
  }
}

.links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}