.appLink {
  color: var(--link-color);

  &:hover {
    opacity: 0.7;
  }
}

.primary {
  color: var(--primary-color);
}

.inverted {
  color: var(--inverted-secondary-color);
}

.withIcon {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.text {
  width: 142px;
}